.rotate3d-x {
    display: inline-block;
    animation: spin3dX 2s linear infinite;
    color: green;
}

@keyframes spin3dX {
    from {
        transform: perspective(500px) rotateX(0deg);
    }
    to {
        transform: perspective(500px) rotateX(360deg);
    }
}

.rotate3d-y {
    display: inline-block;
    transform-style: preserve-3d;
    animation: rotateY3D 2s linear infinite;
    color: green;
}

@keyframes rotateY3D {
    from {
        transform: perspective(600px) rotateY(0deg);
    }
    to {
        transform: perspective(600px) rotateY(360deg);
    }
}

.mobility-cards-container {
	overflow: auto;
}
.mobility-image {
	width: 60px !important;
}
.mobility-card-body {
	height: 260px;
    overflow: auto;
    padding: 0px 5px;
}
.location-element {
    background-color: #e5d95e;
    padding: 5px;
    border-radius: 5px;
}
h2#swal2-title {
    font-size: large;
}
.btn-hidden {
    display: none;
}
.btn {
    font-size:x-small;
}
.category-color {
    width: 32px;
    height: 32px;
    border-radius:20px;
}
.dashboard-element-title {
    display: flex;
    align-items: center;
}
.dashboard-element {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
}
.dashboard-button
{
    border: 1px solid #cdcdcd;
    width: 35px;
    height: 35px;
    padding: 0px;
    line-height:40px;
    color: red;
    margin-left:5px;
}
