VITE_APP_NAME=Symbiot
VITE_APP_URL=https://symbiot.npsoft.ro
VITE_API_URL=https://example.com/api

VITE_ENABLE_BACKGROUND=true
VITE_ENABLE_CAMERA=true
VITE_ENABLE_MICROPHONE=true

VITE_LOCATION_INTERVAL=10000
VITE_LOCATION_DISTANCE_FILTER=10

VITE_PARENTS_PHONES=["07XXXXXXXX","07XXXXXXXX"]